  <div class='inset-0 p-6 items-start justify-end'>
    <div class='flex flex-col items-center justify-center'>
      <div class='flex items-center justify-center w-1/2 p-4 mb-4 bg-red-300 text-red-900 rounded-lg shadow-lg'>
        <p><%= @alert %></p>
      </div>
    </div>
  </div>