<h4>Current Conditions</h4>

<p>Temperature: <%= @current_conditions["temp"] %>°F</p>
<p>Feels Like: <%= @current_conditions["feelslike"] %>°F</p>
<p>Humidity: <%= @current_conditions["humidity"] %>%</p>
<p>Dew Point: <%= @current_conditions["dew"] %>°F</p>