<div class="grid grid-cols-1 justify-items-center">
  <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 font-normal text-gray-700 dark:text-gray-400">
    <h4 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Current Conditions</h5>
    <p>Temperature: <%= @current_conditions["temp"] %>°F</p>
    <p>Feels Like: <%= @current_conditions["feelslike"] %>°F</p>
    <p>Humidity: <%= @current_conditions["humidity"] %>%</p>
    <p>Dew Point: <%= @current_conditions["dew"] %>°F</p>
    <% if @cached %>
      <p class="mt-4 text-sm text-gray-500 dark:text-gray-400">Data from cache</p>
    <% else %>
      <p class="mt-4 text-sm text-gray-500 dark:text-gray-400">Data from API</p>
    <% end %>
  </div>
</div>
